$color1:#979ed5;
$color2:#888;
$color3:#ffbecf;
@mixin background {background-size:cover; background-position:center;}
@mixin flex-row {display:flex; flex-flow:row nowrap;}

header {
    .nav_g {
        width:100%;
        display:flex; justify-content:space-between; align-items:center;
        padding:25px 30px;
        position:fixed; top:0; left:50%; z-index:999;
        transform:translate(-50%,0);
        nav {
            a {
            display:inline-block; text-align:center;
            width:90px;line-height:2; font-weight:700; color:#979ed5; background:#fff; border-radius:3px;
            }
            a:hover {background:rgba(246,83,125,0.3); border-radius:3px;}
        }
        h1 {a {img {}}}/* logo */
        .h_right {
            @include flex-row; justify-content:right;
            align-items:center; width:360px;
            select {
                border:none; outline:none; padding:2px 5px;
                background:#fff; font-weight:700; color:#979ed5; border-radius:3px;
                option {color:#000;}
            }
            > .dark {
                padding:7px; margin-left:7px; color:#979ed5; font-weight:700;
                text-transform:uppercase; display:inline-block; border-radius:3px; background:#fff;
            }
            .dark:hover {background:rgba(0,0,0,0.3); border-radius:3px; color:#000;}
            .inform_g {padding:15px 20px; position:relative;
                a {display:inline-block; width:25px;
                    img {width:100%;}
                }
                .inform {background:rgba(246,83,125,0.3); padding:6px 3px;
                    display:flex; flex-flow:column nowrap; justify-content:center;
                    position:absolute; top:52px; left:50%;
                    transform:translate(-50%,0); border-radius:3px;
                    a {
                        display:inline-block; width:100px;
                        text-align:center; font-weight:700;
                        padding:8px 0; margin-bottom:4px; color:#fff;
                    }
                    a:last-child {margin-bottom:0;}
                    a:hover {color:#ff3b6f;}
                }
            }
            .menu {
                position:relative; padding:15px;
                a {
                    display:flex; flex-flow:column nowrap;              
                    span {
                        display:inline-block; content:'';
                        width:25px; height:4px;
                        background:#979ed5;
                        margin-bottom:4px; border-radius:3px;
                    }
                    span:last-child {margin:0;}
                }
                .menu_inform {
                    background:rgba(246,83,125,0.3); padding:6px 3px;
                    display:flex; flex-flow:column nowrap; justify-content:center;
                    position:absolute; top:52px; left:50%;
                    transform:translate(-50%,0); border-radius:3px;
                    > a {
                        display:inline-block; width:100px;
                        text-align:center; font-weight:700;
                        padding:8px 0; margin-bottom:4px; color:#fff;
                        text-transform:uppercase;
                    }
                    > .dark {display:none;}
                    > a:hover {color:#ff3b6f;}
                    p {text-align:center;
                        select {display:none;}}
                }
            }
        }
    }
}//e:header
main {
    text-align:center;
    h1 {padding-top:170px; font-size:1.5rem; font-weight:700; color:#ff3b6f9d; text-transform: uppercase;}
    .top_list {
        display:flex; justify-content:center;
        position:relative;
        li {
            .top_ca {/* 상위 카테고리명 */
                display:inline-block; padding:10px 0; margin:100px 0 40px 20px; width:100px;
                font-weight:700; color:$color1;
            }
            .top_ca:last-child {margin-left:0;}
            .top_ca:hover {box-shadow:0 0 10px rgba(246,83,125,0.3); border-radius:3px;}
            /* 하위 카테고리=========================================================================== */
            .sub {
                display:flex;
                position:absolute; bottom:-30px; left:50%;
                transform:translate(-50%,-50%);
                li {
                    a {/* 하위 카테고리명 */
                        display:inline-block; padding:5px; margin:5px; color:$color2; width:100px;
                    }
                    a:hover {color:#000;}
                }
            }
            .eye {}
            // .lip {display:none;}
            // .face {display:none;}
        }
    }//e:top_list
    /* 검색창 */
    form {
        fieldset {
            display:inline-flex; justify-content:center; align-items:center;
            border:1px solid $color2; padding:5px 10px; margin-top:70px; border-radius:3px;
            input {
                border:none; outline:none; margin-right:5px;
            }
            button {width:20px; img {width:100%;}}
        }
    }
    .bg_border {border:1px solid $color3; width:95%; margin:100px auto 100px; border-radius:30px;
        .product_g {
            display:flex; flex-flow:row wrap; justify-content:center;
            .product {
                display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
                width:25%; margin:100px 0 0;
                .pro_img {a {display:inline-block; @include background; width:350px; height:350px; margin:15px 0 35px; transition:all 0.5s}}
                .pro_0 {a {background-image:url(../images/best/pro00.png);}}
                .pro_1 {a {background-image:url(../images/best/pro01.png);}}
                .pro_2 {a {background-image:url(../images/best/pro02.png);}}
                .pro_3 {a {background-image:url(../images/best/pro03.png);}}
                .pro_4 {a {background-image:url(../images/best/pro04.png);}}
                .pro_5 {a {background-image:url(../images/best/pro05.png);}}
                .pro_6 {a {background-image:url(../images/best/pro06.png);}}
                .pro_7 {a {background-image:url(../images/best/pro01.png);}}
                .pro_8 {a {background-image:url(../images/best/pro08.png);}}
                .pro_9 {a {background-image:url(../images/best/pro09.png);}}
                .pro_10 {a {background-image:url(../images/best/pro10.png);}}
                .pro_11 {a {background-image:url(../images/best/pro11.png);}}
                .pro_12 {a {background-image:url(../images/best/pro12.png);}}
                .pro_13 {a {background-image:url(../images/best/pro13.png);}}
                .pro_14 {a {background-image:url(../images/best/pro14.png);}}
                .pro_img:hover {filter:grayscale(100%);}
                //e:상품 이미지
                .pro_text {
                    h3 {font-weight:700; text-transform:capitalize;}/* 상품명 */
                    select {/* 목록 */
                        width:200px; border:none; text-align:center; padding:5px 0; margin:20px 0 25px;
                        outline:none;
                        option {}
                    }
                    .only_type {margin:26px 0 37px;}/* Only one type */
                    > p {display:flex; align-items:center; justify-content: center;
                        span {font-weight:700;}/* 가격 */
                        a {display:inline-block; width:20px; height: 20px;}
                        .like {background-image:url(../images/best/heart.png); @include background; margin:0 5px 0 10px;}/* 하트 이모티콘 */
                        .like:hover {background-image:url(../images/best/heart2.png);}
                        .basket {background-image:url(../images/best/shopping-cart.png); @include background;}/* 장바구니 이모티콘 */
                        .basket:hover {background-image:url(../images/best/shopping-cart2.png);}
                    }
                    > a {/* 구매하기 */
                        display:inline-block; border:1px solid #ff3b6f9d; padding:7px; color:#ff3b6f9d;
                        font-weight:700; border-radius:5px; width:100px; text-align:center; margin:20px 0 70px;
                    }
                    > a:hover {box-shadow:0 0 10px #ff3b6f9d;}
                }
            }
        }
    }
}

//반응형
@media screen and (max-width:1320px) {
    main {
        .bg_border {
            .product_g{
                    .product {width:30%;}
                }
        }
    }
}
@media screen and (min-width:1101px) {
    .nav_g {
        .h_right {
            .menu {display:none;}
        }
    }
}
@media screen and (max-width:1100px) {
    header {
        .nav_g {
            nav {display:none;}
        }
    }
    main {
        .bg_border {
            .product_g{
                .product {width:50%;}
            }
        }
    }
}
@media screen and (max-width:750px) {
    main {
        .notice {
            width:95%;
        }
    }
}
@media screen and (max-width:670px) {
    main {
        .find {
            a {width:180px;}
        }
    }
}
@media screen and (max-width:660px) {
    main {
        .bg_border {
            .product_g{
                .product {width:80%;}
            }
        }
    }
}
@media screen and (max-width:620px) {
    header {
        .nav_g {
            .h_right {
                > select {display:none;}
                > .dark {display:none;}
                .menu {
                    .menu_inform {
                        p {select {display:inline-block;}}
                        > .dark {display:inline-block;}
                    }
                }
            }
        }
    }
}