@mixin flex-row {display:flex; flex-flow:row nowrap;}

body,html {overflow-x:hidden; background:#000;}
// header
header {
    .nav_g {
        width:100%;
        display:flex; justify-content:space-between; align-items:center;
        padding:25px 30px;
        position:fixed; top:0; left:50%; z-index:999;
        transform:translate(-50%,0);
        nav {
            a {
            display:inline-block; text-align:center;
            width:90px;line-height:2; font-weight:700; color:#fff;
            background:#000; border-radius:3px;
            transition:all 0.5s; position:relative;
            span {
                display:inline-block; content:''; width:100%; height:1px;
                background:#fff; position:absolute; bottom:0; left:0;
                transform:scaleX(0); transform-origin:left; transition:all 0.5s ease;
            }
            }
            a:hover {
                span {
                    transform:scale(1);
                }
            }
        }
        h1 {a {img {filter:grayscale(100%);}}}/* logo */
        .h_right {
            @include flex-row; justify-content:right;
            align-items:center; width:360px;
            select {
                border:none; outline:none; padding:2px 5px;
                background:#000; font-weight:700; color:#fff; border-radius:3px;
                option {color:#fff; background:#000;}
            }
            > .color {
                padding:10px; margin-left:7px; font-weight:700; transition:all 0.5s;
                text-transform:uppercase; color:#fff; display:inline-block; border-radius:3px; background:#000;
            }
            > .color:hover {color:#ff3b6f;;}
            .inform_g {padding:15px 20px; position:relative;
                a {display:inline-block; width:25px;
                    img {width:100%;}
                }
                .inform {background:rgba(225,225,225,0.3); padding:6px 3px;
                    display:flex; flex-flow:column nowrap; justify-content:center;
                    position:absolute; top:52px; left:50%;
                    transform:translate(-50%,0); border-radius:3px;
                    a {
                        display:inline-block; width:100px;
                        text-align:center; font-weight:700;
                        padding:8px 0; margin-bottom:4px; color:#fff;
                    }
                    a:last-child {margin-bottom:0;}
                    a:hover {color:#000;}
                }
            }
            .menu {
                position:relative; padding:15px;
                a {
                    display:flex; flex-flow:column nowrap;              
                    span {
                        display:inline-block; content:'';
                        width:25px; height:4px;
                        background:#fff;
                        margin-bottom:4px; border-radius:3px;
                    }
                    span:last-child {margin:0;}
                }
                .menu_inform {
                    background:rgba(225,225,225,0.3); padding:6px 3px;
                    display:flex; flex-flow:column nowrap; justify-content:center;
                    position:absolute; top:52px; left:50%;
                    transform:translate(-50%,0); border-radius:3px;
                    > a {
                        display:inline-block; width:100px;
                        text-align:center; font-weight:700;
                        padding:8px 0; margin-bottom:4px; color:#fff;
                        text-transform:uppercase;
                    }
                    > .color {display:none;}
                    > a:hover {color:#000;}
                    p {text-align:center;
                        select {display:none; color:#fff;}}
                        select:hover {color:#000;}
                }
            }
        }
    }
}//e:header
main {
    text-align:center; width:100%;
    h1 {padding:170px 0 0; font-size:1.5rem; font-weight:700; color:#fff; text-transform: uppercase;}
    > p {padding:15px 0 70px; font-weight:600; color:#888;}
    // swiper
    .bnr_g {width:100%;
        .swiper-wrpper {
            .swiper-slide {
                height:690px; width:100%;
            }
        }
    }
    .notice {
        margin:100px 0 70px;
        display:inline-block; width:700px; padding:50px 0;
        border:3px dashed #fff;
        h2 {font-weight:600; font-size:1.1rem; margin-bottom:20px; color:#fff;}
        p {color:#fff;}
    }
    .find {
        a {background:#fff; color:#000;
            width:300px; margin:0 auto;
            display:inline-block; border-radius:3px;
            padding:20px 0; font-size:1.1rem; font-weight:600;
            margin:0 10px 50px; transition:all 0.5s;
        }
        a:hover {box-shadow:0 0 10px #ffffff;}
    }
}

//animation
@keyframes text {
    0% {transform:skew(-10deg); letter-spacing:0;}
    100% {transform:skew(10deg); letter-spacing:0.05em;}
}


// 반응형
@media screen and (min-width:1101px) {
    .nav_g {
        .h_right {
            .menu {display:none;}
        }
    }
}
@media screen and (max-width:1100px) {
    .nav_g {
        nav {display:none;}
    }
}
@media screen and (max-width:750px) {
    main {
        .notice {
            width:95%;
        }
    }
}
@media screen and (max-width:670px) {
    main {
        .find {
            a {width:180px;}
        }
    }
}

@media screen and (max-width:620px) {
    header {
        .nav_g {
            .h_right {
                > select {display:none;}
                > .color {display:none;}
                .menu {
                    .menu_inform {
                        p {select {display:inline-block;}}
                        > .color {display:inline-block;}
                    }
                }
            }
        }
    }
}