$color1:#fff;
$color2:#000;
$color3:#888;
$color4:#cf2d2d;
$color5:rgba(0,0,0,0.3);
$color6:rgba(0,0,0,0.7);
@mixin flex {display:flex; flex-flow:row nowrap;}
@mixin width {width:270px;}
@mixin width2 {width:255px;}

// 스크롤바
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track {background:$color2;}
::-webkit-scrollbar-thumb {background:$color1; border-radius:5px;}

html,body {background-color:$color2; overflow-y:hidden;}
main {
    .hompi {
        background-image:url(../images/bg2.jpg);
        background-position:center; width:1300px; height:760px;
        margin:15vh auto 0; border:1px solid $color2; border-radius:10px;
        @include flex; justify-content:center; position:relative;
        /* 애니메이션부분 */
        .ani {
            p {z-index:999;
                position:absolute; bottom:0; left:0;
                width:50px;
                img {width:100%;}
            }
            .ani01 {bottom:-50px; left:100px; animation:ani01 3s 1s ease alternate;}
            .ani02 {bottom:-50px; left:100px; animation:ani02 3s ease alternate;}
            .ani03 {bottom:-50px; left:120px; animation:ani03 3s ease alternate;}
            .ani04 {bottom:-50px; left:250px; animation:ani02 5s ease alternate;}
            .ani05 {bottom:-50px; left:300px; animation:ani04 3s ease alternate;}
            .ani06 {bottom:-50px; left:400px; animation:ani02 4s ease alternate;}
            .ani07 {bottom:-50px; left:410px; animation:ani03 3s 1s ease alternate;}
            .ani08 {bottom:-50px; left:440px; animation:ani03 2s ease alternate;}
            .ani09 {bottom:-50px; left:490px; animation:ani02 3s ease alternate;}
            .ani10 {bottom:-50px; left:550px; animation:ani02 3s ease alternate;}
            .ani11 {bottom:-50px; left:620px; animation:ani03 2s ease alternate;}
            .ani12 {bottom:-50px; left:700px; animation:ani02 4s ease alternate;}
            .ani13 {bottom:-50px; left:685px; animation:ani02 3s 1s ease alternate;}
            .ani14 {bottom:-50px; left:720px; animation:ani02 2s ease alternate;}
            .ani15 {bottom:-50px; left:800px; animation:ani03 3s ease alternate;}
            .ani16 {bottom:-50px; left:830px; animation:ani03 3s ease alternate;}
            .ani17 {bottom:-50px; left:900px; animation:ani04 2s 1s ease alternate;}
            .ani18 {bottom:-50px; left:950px; animation:ani02 3s 1s ease alternate;}
            .ani19 {bottom:-50px; left:1050px; animation:ani02 2s ease alternate;}
            .ani20 {bottom:-50px; left:1070px; animation:ani03 3s ease alternate;}
            .ani21 {bottom:-50px; left:1100px; animation:ani02 5s ease alternate;}
            .ani22 {bottom:-50px; left:1150px; animation:ani03 3s ease alternate;}
            .ani23 {bottom:-50px; left:1210px; animation:ani03 4s 1s ease alternate;}
            .ani24 {bottom:-50px; left:1230px; animation:ani02 3s ease alternate;}
            .ani25 {bottom:-50px; left:220px; animation:ani03 2s 1s ease alternate;}
        }
        /* 사이드 메뉴 */
        .menu {
            position:absolute; top:65px; right:-22px; display:flex; flex-flow:column nowrap;
            a {
                display:inline-block;  border:1px solid $color1;
                border-radius:5px; padding:13px 8px 14px 15px; text-align:right;
                margin-bottom:10px; background:$color5; font-style:italic; color:$color1;
            }
            a:hover {background:$color1; border:1px solid $color2; color:$color2;}
            .active {background:$color1; border:1px solid $color2; color:$color2;}
        }
        /* 연결용 */
        .connection {z-index:999;
            position:absolute; top:155px; left:325px; display:flex;
            flex-flow:column nowrap; 
            p {
                width:60px; height:18px; display:inline-block; margin-bottom:200px;
                content:''; background-color:$color1; border-radius:20px;
                border:1px solid $color2;
            }
        }
        /* 내 정보 */
        .proflie {
            position:relative; top:22px;
            background-color:$color1; width:23%; height:700px; padding:30px 0;
            border:1px solid $color2; border-radius:10px;
            /* 투데이 수 */
            > p {
                text-align:center; text-transform:uppercase; font-weight:700; font-size:0.75rem;
                span {color:$color3; font-size:0.8rem; font-weight:500;}
                span:first-child {color:$color4;}
                span:first-child::after {
                    display:inline-block; content:''; width:1px; height:12px;
                    background:$color2; margin:0 5px 0 10px;
                }
            }
            /* 내 사진 */
            > .line {text-align:center; margin:15px auto 20px; @include width;
                #helllo {
                    span {
                        border-right: .05em solid;
                        animation: caratteri 1s steps(1) infinite;
                    }
                }
                > p {
                    display:inline-flex; padding:10px 12px; font-size:0.85rem;
                    border:1px solid $color2; text-transform:uppercase;
                    > em {
                        display:inline-block; width:221px; height:275px;
                        background-image:url(../images/profile.jpg);
                        background-position:center;
                        background-size:cover; filter:grayscale(30%);
                    }
                }
                p:nth-child(1) {font-weight:700;}
                p:nth-child(2) {width:145px; position:relative; top:0; right:5px;}
                p:nth-child(3) {position:relative; top:-1px; left:-2px;}
                > p:hover {> em {filter:grayscale(0);}}
            }
            /* 내 취미 */
            h2 {@include width2; margin:0 auto; text-transform:uppercase; font-weight:700; margin-bottom:10px;}
            .hobby {@include width2; margin:0 auto;
                a {
                    display:inline-block; padding:5px 8px; border-radius:7px; font-size:0.9rem;
                    border:1px solid $color2; margin:5px 1px; position:relative;
                    span {
                        display:inline-block; content:''; width:0; height:100%;
                        background:$color5; position:absolute; top:0; left:0; border-radius:7px;
                        transition:all 0.5s;
                    }
                }
                a:hover {span {width:100%;}}
            }
            .insta, .mail {
                @include width2; margin:0 auto; line-height:1.5; font-size:0.85rem;
                > a {font-size:0.85rem; position:relative;
                    > span {display:inline-block; content:''; width:0; height:100%;
                        background:$color5; position:absolute; top:0; left:0; border-radius:7px;
                        transition:all 0.5s;
                    }
                }
                > a:hover {span {width:100%;}}
                p {
                    width:20px; display:inline-block; position:relative; top:3px;
                    animation:move 0.7s ease alternate-reverse infinite;
                    img {width:100%;}}
            }
            .insta {margin-top:20px;}
        }//e:proflie
        .inform_g {
            position:relative; top:22px; width:68%; margin-left:28px;
            background:$color1; border:1px solid $color2; border-radius:10px; height:700px;
            .inform {
                @include flex;
                .t_left {
                    margin:30px 0 0 50px;
                    width:450px;
                    .name {width:300px; margin-bottom:20px; img {width:100%;}}
                    .text_p {
                        border-right:2px dashed $color2; display:flex; flex-flow:row wrap;
                        p {
                            line-height:1.7; text-transform:uppercase; width:100%;
                            span {text-transform:capitalize; font-weight:500; position:relative;}
                            span:after {
                                display:inline-block; content:''; width:15px; height:15px;
                                background-color:$color6; border-radius:50%;
                                position:absolute; top:0; left:-7px;
                            }
                        }
                        p:nth-child(1) {width:120px;}
                        p:nth-child(2) {width:190px;}
                        p:nth-child(3) {width:120px;}
                        p:nth-child(4) {margin:5px 0;}
                    }
                }
                .t_right {
                    /* 집게 */
                    .tongs {width:250px; position:relative; top:-160px; left:85px; z-index:10;
                        img {width:100%;}}
                    /* 체크리스트 */
                    .check {
                        position:relative;
                        > p {
                            width:325px; position:absolute; top:-215px; right:-120px;
                            transform:rotate(-2deg);
                            img {width:100%;}
                        }
                        .text_g {
                            width:100%;
                            position:absolute; top:-172px; left:80px;
                            transform:rotate(-1deg);
                            h2 {
                                font-family: 'Darumadrop One', cursive;
                                font-size:2.4rem; padding-bottom:11px; margin-bottom:15px;
                                border-bottom:2px dashed $color2;
                            }
                            .text {
                                p {
                                    position:relative; top:0; left:5px;
                                    font-family: 'Nanum Pen Script', cursive;
                                    font-size:1.4rem; line-height:1.55;
                                    input {margin-right:8px;
                                        appearance:none;
                                        background:$color5; border-radius:20px;
                                        width:30px; height:20px;
                                        position:relative; transition:all 0.3s;
                                    }
                                    input::after {
                                        content:''; display:block; transition:all 0.3s;
                                        background:$color1; border-radius:50%;
                                        width:15px; height:15px;
                                        position:absolute; top:2.5px; left:2px;
                                    }
                                    input:checked {background:$color2;}
                                    input:checked::after {left:13px;}
                                }
                            }
                        }
                    }
                }
            }//e:inform
            /* 감성이미지 부분 */
            .move {
                background-image:url(../images/cat.gif);
                background-position:top;
                background-size:cover;
                width:95%; margin:0 auto; height:100px;
                border-radius:10px; position:relative; top:25px; left:0;
            }
            .guest {
                width:93%; margin:0 auto; margin-top:15px;
                height:225px; overflow-y:scroll;
                /* 그누보드-방명록 */
                iframe {
                    padding:10px; border:none;
                    width:100%; height:1000px;
                }
            }
        }
    }
}

//애니메이션
@keyframes move {
    0% {transform:translateY(-10px);}
    100% {transform:translateY(0);}
}
@keyframes caratteri {
    50% {border-color: $color2;}
}
@keyframes ani01 {
    0% {bottom:-50px; left:100px; opacity:1;}
    50% {bottom:200px; left:0;}
    100% {bottom:400px; left:0; opacity:0;}
}
@keyframes ani02 {
    0% {bottom:-50px; opacity:1;}
    50% {bottom:300px;}
    100% {bottom:600px; opacity:0;}
}
@keyframes ani03 {
    0% {bottom:-50px; opacity:1;}
    50% {bottom:350px;}
    100% {bottom:700px; opacity:0;}
}
@keyframes ani04 {
    0% {bottom:-50px; opacity:1;}
    50% {bottom:400px;}
    100% {bottom:850px; opacity:0;}
}