$line-color:#26150b;
$color:#e1d5b7;
@mixin row-nowrap {display:flex; flex-flow:row nowrap;}
@mixin font {font-family: 'Abril Fatface', cursive;}
@mixin bk-no-cover {background-repeat:no-repeat; background-size:cover;}

// scroll bar
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track {background:#aca18d;}
::-webkit-scrollbar-thumb {background:#504530; border-radius:5px;}

body,html {cursor:none; overflow-x:hidden;}
body {background-color:#e9e0cc;}
// mouse
.pen {
    background-image:url(../images/pen_mouse.png);
    @include bk-no-cover;
    width:50px; height:50px;
    position:fixed; left:0; top:0; z-index:9999;
    transform:translate(0,-100%);
}
.hand {
    background-image:url(../images/hand.png);
    @include bk-no-cover;
    position:fixed; left:0; top:0; z-index:9999;
    transform:translate(0,0);
    width:100px; height:65px;
    pointer-events:none
}

// header
header {
    text-align:center; 
    h1 {
        width:350px; margin:0 auto;
        padding:25px 0;
        img {width:100%;}
    }
    #h_txt {
        @include row-nowrap; justify-content:space-around; align-items:center;
        border-top:1px solid $line-color;
        border-bottom:2px solid $line-color;
        p {
            text-transform:capitalize; padding:10px 0;
            font-weight:800; font-size:1.3rem;
            letter-spacing:0.1em; @include font;
        }
    }
}//e:header

main {
    //main01 --header 바로 아래 메인
    .wrap1 {
        border:1px solid $line-color;
        width:1020px; margin:100px auto;
        .img_g {width:1000px; margin:10px auto; position:relative;
            overflow:hidden;
            .forest {
                width:100%; height:900px; 
                background-image:url(../images/forest_long.png), url(../images/bg.png);
                background-repeat:repeat-x, no-repeat;
                background-position:center, center;
                background-blend-mode:luminosity;
                border:2px solid $line-color;
                animation:forest_move 100s linear alternate-reverse infinite;
            }
            .book {
                background-image:url(../images/book3.png);
                @include bk-no-cover; width:200px; height:250px;
                position:absolute; bottom:300px; left:160px;
                width:300px; z-index:300;
                animation:book 3s ease both;
            }
            .post {
                position:absolute; top:40%; left:50%;
                transform:translate(-50%, -50%); z-index:100;
                background-repeat:no-repeat;
                img {width:100%;}
                #look {
                    font-family: 'Allura', cursive; font-size:2.5rem;
                    color:$line-color; width:270px;
                    position:absolute; top:60%; left:50%;
                    transform:translate(-50%, -50%);
                    span {
                        border-right: .05em solid;
                        animation: caratteri 1s steps(1) infinite;
                    }
                }
            }
            .key {
                background-image:url(../images/key.png);
                @include bk-no-cover; width:100px; height:200px;
                position:absolute; top:230px; right:210px;
                width:230px; z-index:300; transform:rotate(-15deg);
                animation:key01 2s 0.5s ease both;
            }
            .light {
                span {
                    background-image:url(../images/light3.png);
                    @include bk-no-cover;
                    width:100px; height:100px; display:inline-block;
                    position:absolute; top:0; left:0;
                    // z-index:1000;
                }
                span:nth-child(1) {
                    top:100px; left:170px;
                    animation:light01 13s linear alternate-reverse infinite;
                }
                span:nth-child(2) {
                    top:800px; left:900px;
                    animation:light02 13s linear alternate-reverse infinite;
                }
                span:nth-child(3) {
                    top:600px; left:900px;
                    animation:light03 10s linear alternate-reverse infinite;
                }
                span:nth-child(4) {
                    top:800px; left:370px;
                    animation:light04 13s linear alternate-reverse infinite;
                }
            }
        }
    }//e:wrap1
    .wrap2 {
        text-align:center; position:relative;
        border-top:1px solid $line-color;
        border-bottom:1px solid $line-color;
        padding:110px 0;
        > h1 {
            margin-bottom:100px;
            font-size:1.5rem; line-height:1.8; letter-spacing:-0.02em;
            span {
                @include font; font-size:1.5rem;
                background:linear-gradient(to right, $line-color, $color, $line-color, $color);
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
                background-size:400%;
                animation:bg 8s linear infinite;
            }
        }
        > ul {
            width:1200px; margin:0 auto;
            @include row-nowrap; justify-content:space-around;
            li {
                h2 {
                    font-size:1.3rem; @include font;
                    text-transform: capitalize;
                    padding-bottom:10px; margin-bottom:4px;
                    border-bottom:1px solid $line-color;
                }
                .contents {
                    border-top:1px solid $line-color;
                    padding-top:15px;
                    p {
                        line-height:1.8;
                        span {
                            @include font;
                            letter-spacing:0.02em;
                            font-weight:400;
                            text-transform:capitalize;
                        }
                    }
                }
                .certificate_g {
                    p:last-child {margin-top:20px;}
                }
                .education_g {
                    p {margin-top:20px;}
                    p:first-child {margin-top:0;}
                }
            }
        }
        .main02_img {
            position:relative;
            width:1200px; display:inline-block;
            a {/* 열쇠 이미지 */
                width:250px; display:inline-block;
                position:absolute; top:-250px; left:-50px;
                animation:key02 1s linear alternate-reverse infinite;
                img {width:100%;}
            }
            p {
                width:100px; font-weight:800;
                position:absolute; top:-45px; left:30px;
                animation:key02_txt 1s linear alternate-reverse infinite;
                text-transform:capitalize;
                background:$line-color; color:lightgoldenrodyellow;
                display:inline-block; line-height:1.5;
                border-radius:7px;
            }
        }

        // click! open book--------------------------------------
        .wrap3 {
            > .wrap3_img {/* book img */
                width:1000px;
                position:absolute; top:400px; left:50%;
                transform:translate(-50%, -50%);
                img {width:100%;}
                .personality {
                    background-image:url(../images/book_contents.png);
                    @include bk-no-cover;
                    width:280px; height:275px;
                    position:absolute; top:130px; right:170px;
                    animation:persona 2.5s ease both;
                }
                .lock {
                    background-image:url(../images/lock_shadow.png);
                    @include bk-no-cover;
                    width:150px; height:150px;
                    position:absolute; top:260px; right:-45px;
                    transform:rotate(-20deg);
                    animation:lock 0.8s linear alternate-reverse infinite;
                }
                .key {
                    background-image:url(../images/key1_shadow.png);
                    @include bk-no-cover;
                    width:210px; height:260px;
                    position:absolute; bottom:0; right:50px;
                    transition:all 1s;
                    a {display:block; width:100%; height:300px; content:'';}
                    p {
                        position:absolute; top:30px; left:75px;
                        animation:key03 1s linear alternate-reverse infinite;
                        font-weight:700;
                    }
                }
                .key:hover {
                    bottom:70px; right:-110px;
                    transform:rotate(120deg);
                }
                .hand {
                    background-image:url(../images/hand_shadow.png);
                    @include bk-no-cover;
                    width:230px; height:170px;
                    position:absolute; bottom:-35px; left:30px;
                    transform:rotate(-17deg) scaleX(-1);
                }
            }
            .contents {
                width:550px; margin:0 auto;
                position:relative;
                @include row-nowrap;
                justify-content:space-between;
                .b_contents {
                    z-index:500;
                    h1 {
                        font-size:1.5rem; line-height:1.8; letter-spacing:-0.02em;
                        @include font; text-transform:capitalize;
                    }
                }
                .b_left {
                    // position:absolute; top:140px; left:320px;
                    h1 {
                        width:150px;
                        position:absolute; top:-520px; left:-25px;
                        border-bottom:1px solid $line-color;
                    }
                    h1:after {
                        position:absolute; bottom:3px; left:0;
                        content:''; display:inline-block;
                        width:150px;  height:1px;
                        background:$line-color;
                    }
                    .bar_g {
                        position:absolute; top:-415px; left:-7px;
                        li {
                            .bar {
                                content:''; display:inline-block;
                                width:240px;  height:7px;
                                background:#aca18d;
                                border-radius: 10px;
                                margin-bottom:21.2px;
                            }
                            .bar:after {
                                content:''; display:inline-block;
                                height:7px; position:absolute; left:0;
                                background:#7a6d53;
                                border-radius: 10px;
                                margin-bottom:21.2px;
                            }
                            .bar1:after {animation:bar1 1.5s ease both;}/* 포토샵 */
                            .bar2:after {animation:bar2 2s linear both}/* 일러스트 */
                            .bar3:after {animation:bar3 2.5s ease both;}/* html */
                            .bar4:after {animation:bar4 1.5s ease both;}/* css */
                            .bar5:after {animation:bar5 1s ease both;}/* scss */
                            .bar6:after {animation:bar6 1.5s linear both}/* j-script */
                            .bar7:after {animation:bar7 1.5s ease both;}/* j-query */
                            .bar8:after {animation:bar8 2.3s linear both}/* php include */
                            .bar9:after {animation:bar9 2s ease both;}/* figma */
                            .bar10:after {animation:bar10 1s ease both;}/* git hub */
                            .bar11:after {animation:bar11 1.5s linear both}/* gunboard */
                        }
                    }
                }//e:book_left
                .b_right {
                    h1 {
                        width:150px;
                        position:absolute; top:-520px; right:-5px;
                        // border-top:1px solid $line-color;
                        border-bottom:1px solid $line-color;
                    }
                    h1:after {
                        position:absolute; bottom:3px; left:0;
                        content:''; display:inline-block;
                        width:150px;  height:1px;
                        background:$line-color;
                    }
                    .see_more {
                        padding:10px;
                        display:inline-block;
                        position:absolute; top:-105px; right:-14px;
                        font-weight:1000;                        
                        span {
                            font-weight:1000; display:inline-block;
                            animation:text 1.5s ease alternate-reverse infinite;
                        }
                    }
                }//e:book_right
            }
        }//e:wrap3
        .wrap3:before {
            content:''; display:block; background:#cfc3a98d;
            width:100%; height:775px; position:absolute; top:0; left:0;
        }//e:wrap3:before
    }//e:wrap2
    .wrap4 {
        width:1400px; margin:140px auto;
        position:relative;
        .w4_contents {
            @include row-nowrap; justify-content:space-between; align-items:center;
            padding:110px 0;
            .w4_left {
                text-align:center; margin-left:70px;
                position:relative; top:0; left:110px;
                p {font-size:1.3rem; font-weight:800;}
                h1 {
                    font-size:2rem; font-weight:800;
                    padding:30px 0 20px;
                    span {font-size:2rem; font-weight:800; letter-spacing:-0.03em; letter-spacing:0.03em;}
                }
                .img_box {
                    content:''; display:inline-block;
                    width:400px; height:315px;
                    border:1px solid $line-color;
                    a {/* 리디자인 이미지 넣을 곳. */
                        display:inline-block; width:360px; height:273px;
                        margin-top:20px; overflow:hidden;
                        background-image:url(../images/benefit_main.png);
                        background-size:100%;
                        background-position:top;
                        transition:all 0.5s; filter:grayscale(50%);
                    }
                    .absolut {background-image:url(../images/absolut.png); background-position:top; background-repeat:no-repeat;}
                    a:hover {background-size:120%; filter:grayscale(0%);}
                }
                .concept {
                    font-size:1rem;
                    padding:20px 0 12px;
                    span {font-weight:600;}
                }
            }//e:w4_left
            .w4_right {width:500px;
                li {
                    margin-right:70px;
                    @include row-nowrap;
                    align-items:center;
                    padding:7px 0;
                    .butterfly {
                        width: 35px; padding-right: 10px;
                        img {width:100%;}
                    }
                    h2 {font-weight:800; padding-right:5px; text-transform:capitalize; letter-spacing:0.04em;}
                    p {text-transform:capitalize;
                        .figma_view {
                            display:inline-block;
                            background-color:#7a6d537d;
                            border-radius:50%; padding:0 3px;
                            animation:direction 1s linear alternate-reverse infinite;
                        }
                    }
                    /* 기획안 이미지 부분 */
                    .proposal_view {
                        position:fixed; top:0; left:0; z-index:999;
                        background:rgba(0,0,0,0.7); width:100%; height:100vh;
                        cursor: pointer;
                        .contents {/* 이미지 나타나는 부분 */
                            display:inline-block;
                            width:1700px; height:90vh; margin:50px auto;
                            overflow-y: scroll; 
                            background:lightgoldenrodyellow;
                            position:absolute; top:46%; left:50%;
                            transform:translate(-50%,-50%);
                            img {width:1700px;}
                        }
                        .btn_g {
                            display:flex; flex-flow:row nowrap;
                            align-items:center;
                            position:relative; bottom:-70px; right:-1335px;
                            
                            .contents_btn {/* 자세히보기 */
                            display:inline-block; background:#fff; color:#000;
                            padding:10px 13px; border-radius:3px;
                            font-weight:700; border:1px solid #504530;
                            margin-right:10px;
                            }
                            .contents_btn:hover {background:#504530; color:lightgoldenrodyellow; border:1px solid #504530;}
                            .close {/* 닫기 */
                                display:inline-block; background:#504530; color:lightgoldenrodyellow;
                                padding:10px 13px; border-radius:3px;
                                font-weight:700; border:1px solid #504530;
                                // position:relative; bottom:-80px; right:-1615px;
                            }
                            .close:hover {background:#fff; color:#000; border:1px solid #000;}
                        }
                    }
                }
                li:first-child {margin-top:30px;}
                li:nth-child(2) {padding-bottom:0;}
                .details {font-size:0.9rem; padding-bottom:10px;}
                .process {padding-top:30px;}
            }//e:w4_right
        }
        .re_btn {
            position:absolute; bottom:0; left:50%;
            transform:translate(-50%,-50%);
            a {
                display:inline-block; border:1px solid #26150b;
                padding:8px 10px; border-radius:3px; width:100px;
                text-align:center; text-transform:capitalize;
            }
            .active {background:#aca18d; color:#fff; border:1px solid #aca18d;}
            a:hover {background:#aca18d; color:#fff; border:1px solid #aca18d;}
        }
        .figma_txt {
            position:absolute; bottom:275px; left:120px;
            width:135px; height:40px;
            border:1px solid $line-color; display:inline-block;
            text-align:center; border-radius:50%;
            line-height:40px;
            background:#aca18d;
            .Wireframe {
                font-weight:800; font-size:1.1rem; font-style:italic;
                border-right: .05em solid;
                animation: caratteri 1s steps(1) infinite;
            }
        }
    }//e:wrap4
    .prev {
        background-image:url(../images/direction.png);
        background-size:cover;
        background-position:center;
        width:100px; height:30px; display:inline-block;
        position:relative; top:-500px; left:200px;
        animation:direction2 0.7s linear alternate-reverse infinite;
    }
    .next {
        background-image:url(../images/direction.png);
        background-size:cover;
        background-position:center;
        width:100px; height:30px; display:inline-block;
        position:relative; top:-500px; right:-1510px;
        animation:direction 0.7s linear alternate-reverse infinite;
    }
    .wrap5 {
        width:1200px; margin:0 auto;
        border:1px solid $line-color;
        display:flex; flex-flow:column nowrap;
        position:relative;
        h1 {
            font-size:2.5rem; font-weight:800; font-style:italic;
            position:absolute; top:175px; left:260px;
        }
        .contents {
            @include row-nowrap; justify-content:center; align-items:center;
            position:relative;
            h2 {font-size:5rem; font-weight:800; font-style:italic; position:absolute; color:$line-color;}
            .img_box {
                content:''; display:inline-block;
                width:500px; height:371px;
                border:1px solid $line-color;
                margin-bottom:50px;
                a {/* 랜딩페이지 이미지 넣는 곳. */
                    display:inline-block; width:460px; height:331px;
                    background:#26150b; margin:20px 0 0 20px;
                    img {width:100%;}
                }
            }
            .txt_box {
                p{
                    font-size:1.2rem; text-transform:capitalize;
                    span {font-weight:800; font-size:1.2rem;}
                    a {
                        display:inline-block;
                        font-size:1.2rem; background-color:#7a6d537d;
                        border-radius:50%; padding:0 3px;
                        animation:key03 1s linear alternate-reverse infinite;
                    }
                }
            }
        }
        .contents1 {
            h2 {bottom:70px; left:80px;}
            .img_box {
                margin-top:200px;
                a {
                    img {width:100%;}
                    // p {width:460px;
                    //     video {width:100%;}}
            }
            }
            .txt_box {
                margin-top:360px;
                p {padding:0 0 10px 50px;}
            }
        }
        .contents2 {
            h2 {bottom:70px; right:80px;}
            .txt_box {
                text-align:right;
                margin-top:120px; padding:0;
                p {padding:0 50px 10px 0;}
            }
            }
        .contents3 {
            h2 {bottom:200px; left:120px; z-index:100;}
            .img_box {
                margin-bottom:200px; padding:0 0 10px;
                width:530px; border:none;
                img {width:100%;}
                a {position:absolute; left:170px; bottom:205px;}
            }
            .txt_box {padding:0; p {padding:0 0 10px 50px;}}
        }
    }//e:wrap5
    .wrap6 {
        width:1200px; margin:200px auto 720px; text-align:center;
        position:relative;
        h1 {font-size:2rem; font-weight:800; font-style:italic; text-transform:capitalize;}
        .img_view {
            position:fixed; top:0; left:0; z-index:999;
            background:rgba(0,0,0,0.7); width:100%; height:100vh;
            cursor: pointer;
            .contents {
                display:inline-block;
                width:700px; height:90vh; margin:50px auto;
                overflow-y: scroll; 
                background:lightgoldenrodyellow;
            }
        }
        > #imgs {
            position:absolute; left:0; top:385px;
            width:400%; height:100%; display:flex;
            justify-content:space-around; align-items:center; margin:0 25%;
            > div{
                max-width:10%; perspective:500px; z-index:1;
                a {
                    display:inline-block; border:1px solid $line-color; margin-right:50px;
                    img{display:block; padding:15px; max-width:100%; height:auto;}
                }
            }
            > div:nth-child(1) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(2) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(3) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(4) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(5) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(6) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(7) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(8) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(9) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(10) {a {img{filter: grayscale(50%);}}}
            > div:nth-child(1):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(2):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(3):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(4):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(5):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(6):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(7):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(8):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(9):hover {a {img{filter: grayscale(0);}}}
            > div:nth-child(10):hover {a {img{filter: grayscale(0);}}}
            
        }
    }//e:wrap6
}//e:main
footer {
    .footer_top {
        width:1200px; margin:0 auto;
        text-align:right;
        h2 {font-size:1.4rem; font-weight:800; line-height:1.5; text-align:center;}
        p { font-weight:600; line-height:1.5; text-align:center;}
        .code {
            width:110px; display:inline-block;
            padding:50px 0 20px;
            img {width:100%;}
        }
    }
    .line {
        span {
            border:1px solid $line-color; width:100%; height:1px;
            content:''; display:inline-block;
        }
        .top_line {}
        .btm_line {margin:5px 0 30px;}
    }
}//e:footer