@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #aca18d;
}

::-webkit-scrollbar-thumb {
  background: #504530;
  border-radius: 5px;
}

body, html {
  cursor: none;
  overflow-x: hidden;
}

body {
  background-color: #e9e0cc;
}

.pen {
  background-image: url(../images/pen_mouse.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  transform: translate(0, -100%);
}

.hand {
  background-image: url(../images/hand.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  transform: translate(0, 0);
  width: 100px;
  height: 65px;
  pointer-events: none;
}

header {
  text-align: center;
}
header h1 {
  width: 350px;
  margin: 0 auto;
  padding: 25px 0;
}
header h1 img {
  width: 100%;
}
header #h_txt {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #26150b;
  border-bottom: 2px solid #26150b;
}
header #h_txt p {
  text-transform: capitalize;
  padding: 10px 0;
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-family: "Abril Fatface", cursive;
}

main .wrap1 {
  border: 1px solid #26150b;
  width: 1020px;
  margin: 100px auto;
}
main .wrap1 .img_g {
  width: 1000px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
main .wrap1 .img_g .forest {
  width: 100%;
  height: 900px;
  background-image: url(../images/forest_long.png), url(../images/bg.png);
  background-repeat: repeat-x, no-repeat;
  background-position: center, center;
  background-blend-mode: luminosity;
  border: 2px solid #26150b;
  animation: forest_move 100s linear alternate-reverse infinite;
}
main .wrap1 .img_g .book {
  background-image: url(../images/book3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
  position: absolute;
  bottom: 300px;
  left: 160px;
  width: 300px;
  z-index: 300;
  -webkit-animation: book 3s ease both;
          animation: book 3s ease both;
}
main .wrap1 .img_g .post {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-repeat: no-repeat;
}
main .wrap1 .img_g .post img {
  width: 100%;
}
main .wrap1 .img_g .post #look {
  font-family: "Allura", cursive;
  font-size: 2.5rem;
  color: #26150b;
  width: 270px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .wrap1 .img_g .post #look span {
  border-right: 0.05em solid;
  -webkit-animation: caratteri 1s steps(1) infinite;
          animation: caratteri 1s steps(1) infinite;
}
main .wrap1 .img_g .key {
  background-image: url(../images/key.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 200px;
  position: absolute;
  top: 230px;
  right: 210px;
  width: 230px;
  z-index: 300;
  transform: rotate(-15deg);
  -webkit-animation: key01 2s 0.5s ease both;
          animation: key01 2s 0.5s ease both;
}
main .wrap1 .img_g .light span {
  background-image: url(../images/light3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
main .wrap1 .img_g .light span:nth-child(1) {
  top: 100px;
  left: 170px;
  animation: light01 13s linear alternate-reverse infinite;
}
main .wrap1 .img_g .light span:nth-child(2) {
  top: 800px;
  left: 900px;
  animation: light02 13s linear alternate-reverse infinite;
}
main .wrap1 .img_g .light span:nth-child(3) {
  top: 600px;
  left: 900px;
  animation: light03 10s linear alternate-reverse infinite;
}
main .wrap1 .img_g .light span:nth-child(4) {
  top: 800px;
  left: 370px;
  animation: light04 13s linear alternate-reverse infinite;
}
main .wrap2 {
  text-align: center;
  position: relative;
  border-top: 1px solid #26150b;
  border-bottom: 1px solid #26150b;
  padding: 110px 0;
}
main .wrap2 > h1 {
  margin-bottom: 100px;
  font-size: 1.5rem;
  line-height: 1.8;
  letter-spacing: -0.02em;
}
main .wrap2 > h1 span {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  background: linear-gradient(to right, #26150b, #e1d5b7, #26150b, #e1d5b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  -webkit-animation: bg 8s linear infinite;
          animation: bg 8s linear infinite;
}
main .wrap2 > ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
main .wrap2 > ul li h2 {
  font-size: 1.3rem;
  font-family: "Abril Fatface", cursive;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #26150b;
}
main .wrap2 > ul li .contents {
  border-top: 1px solid #26150b;
  padding-top: 15px;
}
main .wrap2 > ul li .contents p {
  line-height: 1.8;
}
main .wrap2 > ul li .contents p span {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-transform: capitalize;
}
main .wrap2 > ul li .certificate_g p:last-child {
  margin-top: 20px;
}
main .wrap2 > ul li .education_g p {
  margin-top: 20px;
}
main .wrap2 > ul li .education_g p:first-child {
  margin-top: 0;
}
main .wrap2 .main02_img {
  position: relative;
  width: 1200px;
  display: inline-block;
}
main .wrap2 .main02_img a { /* 열쇠 이미지 */
  width: 250px;
  display: inline-block;
  position: absolute;
  top: -250px;
  left: -50px;
  animation: key02 1s linear alternate-reverse infinite;
}
main .wrap2 .main02_img a img {
  width: 100%;
}
main .wrap2 .main02_img p {
  width: 100px;
  font-weight: 800;
  position: absolute;
  top: -45px;
  left: 30px;
  animation: key02_txt 1s linear alternate-reverse infinite;
  text-transform: capitalize;
  background: #26150b;
  color: lightgoldenrodyellow;
  display: inline-block;
  line-height: 1.5;
  border-radius: 7px;
}
main .wrap2 .wrap3 > .wrap3_img { /* book img */
  width: 1000px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .wrap2 .wrap3 > .wrap3_img img {
  width: 100%;
}
main .wrap2 .wrap3 > .wrap3_img .personality {
  background-image: url(../images/book_contents.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 275px;
  position: absolute;
  top: 130px;
  right: 170px;
  -webkit-animation: persona 2.5s ease both;
          animation: persona 2.5s ease both;
}
main .wrap2 .wrap3 > .wrap3_img .lock {
  background-image: url(../images/lock_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 260px;
  right: -45px;
  transform: rotate(-20deg);
  animation: lock 0.8s linear alternate-reverse infinite;
}
main .wrap2 .wrap3 > .wrap3_img .key {
  background-image: url(../images/key1_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 260px;
  position: absolute;
  bottom: 0;
  right: 50px;
  transition: all 1s;
}
main .wrap2 .wrap3 > .wrap3_img .key a {
  display: block;
  width: 100%;
  height: 300px;
  content: "";
}
main .wrap2 .wrap3 > .wrap3_img .key p {
  position: absolute;
  top: 30px;
  left: 75px;
  animation: key03 1s linear alternate-reverse infinite;
  font-weight: 700;
}
main .wrap2 .wrap3 > .wrap3_img .key:hover {
  bottom: 70px;
  right: -110px;
  transform: rotate(120deg);
}
main .wrap2 .wrap3 > .wrap3_img .hand {
  background-image: url(../images/hand_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  height: 170px;
  position: absolute;
  bottom: -35px;
  left: 30px;
  transform: rotate(-17deg) scaleX(-1);
}
main .wrap2 .wrap3 .contents {
  width: 550px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
main .wrap2 .wrap3 .contents .b_contents {
  z-index: 500;
}
main .wrap2 .wrap3 .contents .b_contents h1 {
  font-size: 1.5rem;
  line-height: 1.8;
  letter-spacing: -0.02em;
  font-family: "Abril Fatface", cursive;
  text-transform: capitalize;
}
main .wrap2 .wrap3 .contents .b_left h1 {
  width: 150px;
  position: absolute;
  top: -520px;
  left: -25px;
  border-bottom: 1px solid #26150b;
}
main .wrap2 .wrap3 .contents .b_left h1:after {
  position: absolute;
  bottom: 3px;
  left: 0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background: #26150b;
}
main .wrap2 .wrap3 .contents .b_left .bar_g {
  position: absolute;
  top: -415px;
  left: -7px;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li { /* 포토샵 */
  /* 일러스트 */
  /* html */
  /* css */
  /* scss */
  /* j-script */
  /* j-query */
  /* php include */
  /* figma */
  /* git hub */
  /* gunboard */
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar {
  content: "";
  display: inline-block;
  width: 240px;
  height: 7px;
  background: #aca18d;
  border-radius: 10px;
  margin-bottom: 21.2px;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar:after {
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  left: 0;
  background: #7a6d53;
  border-radius: 10px;
  margin-bottom: 21.2px;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar1:after {
  -webkit-animation: bar1 1.5s ease both;
          animation: bar1 1.5s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar2:after {
  -webkit-animation: bar2 2s linear both;
          animation: bar2 2s linear both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar3:after {
  -webkit-animation: bar3 2.5s ease both;
          animation: bar3 2.5s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar4:after {
  -webkit-animation: bar4 1.5s ease both;
          animation: bar4 1.5s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar5:after {
  -webkit-animation: bar5 1s ease both;
          animation: bar5 1s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar6:after {
  -webkit-animation: bar6 1.5s linear both;
          animation: bar6 1.5s linear both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar7:after {
  -webkit-animation: bar7 1.5s ease both;
          animation: bar7 1.5s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar8:after {
  -webkit-animation: bar6 2.3s linear both;
          animation: bar6 2.3s linear both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar9:after {
  -webkit-animation: bar9 2s ease both;
          animation: bar9 2s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar10:after {
  -webkit-animation: bar10 1s ease both;
          animation: bar10 1s ease both;
}
main .wrap2 .wrap3 .contents .b_left .bar_g li .bar11:after {
  -webkit-animation: bar6 1.5s linear both;
          animation: bar6 1.5s linear both;
}
main .wrap2 .wrap3 .contents .b_right h1 {
  width: 150px;
  position: absolute;
  top: -520px;
  right: -5px;
  border-bottom: 1px solid #26150b;
}
main .wrap2 .wrap3 .contents .b_right h1:after {
  position: absolute;
  bottom: 3px;
  left: 0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background: #26150b;
}
main .wrap2 .wrap3 .contents .b_right .see_more {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: -105px;
  right: -14px;
  font-weight: 1000;
}
main .wrap2 .wrap3 .contents .b_right .see_more span {
  font-weight: 1000;
  display: inline-block;
  animation: text 1.5s ease alternate-reverse infinite;
}
main .wrap2 .wrap3:before {
  content: "";
  display: block;
  background: rgba(207, 195, 169, 0.5529411765);
  width: 100%;
  height: 775px;
  position: absolute;
  top: 0;
  left: 0;
}
main .wrap4 {
  width: 1400px;
  margin: 140px auto;
  position: relative;
}
main .wrap4 .w4_contents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 110px 0;
}
main .wrap4 .w4_contents .w4_left {
  text-align: center;
  margin-left: 70px;
}
main .wrap4 .w4_contents .w4_left p {
  font-size: 1.3rem;
  font-weight: 800;
}
main .wrap4 .w4_contents .w4_left h1 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.03em;
  padding: 30px 0 20px;
}
main .wrap4 .w4_contents .w4_left h1 span {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.03em;
}
main .wrap4 .w4_contents .w4_left .img_box {
  content: "";
  display: inline-block;
  width: 400px;
  height: 275px;
  border: 1px solid #26150b;
}
main .wrap4 .w4_contents .w4_left .img_box a { /* 리디자인 이미지 넣을 곳. */
  display: inline-block;
  width: 360px;
  height: 235px;
  background: #26150b;
  margin-top: 20px;
}
main .wrap4 .w4_contents .w4_left .concept {
  font-size: 1rem;
  padding: 20px 0 12px;
}
main .wrap4 .w4_contents .w4_left .concept span {
  font-weight: 600;
}
main .wrap4 .w4_contents .w4_left .current span {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #26150b;
  border-radius: 50%;
}
main .wrap4 .w4_contents .w4_left .current .active {
  background-color: #26150b;
}
main .wrap4 .w4_contents .w4_right li {
  margin-right: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0;
}
main .wrap4 .w4_contents .w4_right li .butterfly {
  width: 35px;
  padding-right: 10px;
}
main .wrap4 .w4_contents .w4_right li .butterfly img {
  width: 100%;
}
main .wrap4 .w4_contents .w4_right li h2 {
  font-weight: 800;
  padding-right: 5px;
}
main .wrap4 .w4_contents .w4_right li:first-child {
  margin-top: 30px;
}
main .wrap4 .w4_contents .w4_right .process {
  padding-top: 30px;
}
main .wrap4 .figma_txt {
  font-weight: 800;
  font-size: 1.2rem;
  border: 1px solid #26150b;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 330px;
  left: 150px;
  font-style: italic;
}
main .wrap4 > p {
  font-weight: 800;
  font-size: 1.2rem;
  position: absolute;
  bottom: 330px;
  left: 580px;
  font-style: italic;
}
main .wrap4 > p span {
  font-weight: 800;
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
  top: 0;
  left: 35px;
}
main .wrap4 .direction {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 332px;
  left: 0;
}
main .wrap4 .direction .prev {
  background-image: url(../images/direction.png);
  transform: scaleX(-1);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 30px;
  display: inline-block;
}
main .wrap4 .direction .next {
  background-image: url(../images/direction.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 30px;
  display: inline-block;
}
main .wrap5 {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #26150b;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
main .wrap5 h1 {
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  top: 175px;
  left: 260px;
}
main .wrap5 .contents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .wrap5 .contents h2 {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  color: #26150b;
}
main .wrap5 .contents .img_box {
  content: "";
  display: inline-block;
  width: 500px;
  height: 371px;
  border: 1px solid #26150b;
  margin-bottom: 50px;
}
main .wrap5 .contents .img_box a { /* 랜딩페이지 이미지 넣는 곳. */
  display: inline-block;
  width: 460px;
  height: 331px; /* height:260px; */
  background: #26150b;
  margin: 20px 0 0 20px;
}
main .wrap5 .contents .img_box a img {
  width: 100%;
}
main .wrap5 .contents .txt_box p {
  font-size: 1.2rem;
  text-transform: capitalize;
}
main .wrap5 .contents .txt_box p span {
  font-weight: 800;
  font-size: 1.2rem;
}
main .wrap5 .contents .txt_box p a {
  display: inline-block;
  font-size: 1.2rem;
  background-color: rgba(122, 109, 83, 0.4901960784);
  border-radius: 50%;
  padding: 0 3px;
  animation: key03 1s linear alternate-reverse infinite;
}
main .wrap5 .contents1 h2 {
  bottom: 70px;
  left: 80px;
}
main .wrap5 .contents1 .img_box {
  margin-top: 200px;
}
main .wrap5 .contents1 .img_box a img {
  width: 100%;
}
main .wrap5 .contents1 .txt_box {
  margin-top: 360px;
}
main .wrap5 .contents1 .txt_box p {
  padding: 0 0 10px 50px;
}
main .wrap5 .contents2 h2 {
  bottom: 70px;
  right: 80px;
}
main .wrap5 .contents2 .txt_box {
  text-align: right;
  margin-top: 120px;
  padding: 0;
}
main .wrap5 .contents2 .txt_box p {
  padding: 0 50px 10px 0;
}
main .wrap5 .contents3 h2 {
  bottom: 200px;
  left: 120px;
  z-index: 100;
}
main .wrap5 .contents3 .img_box {
  margin-bottom: 200px;
  padding: 0 0 10px;
  width: 530px;
  border: none;
}
main .wrap5 .contents3 .img_box img {
  width: 100%;
}
main .wrap5 .contents3 .img_box a {
  position: absolute;
  left: 170px;
  bottom: 205px;
}
main .wrap5 .contents3 .txt_box {
  padding: 0;
}
main .wrap5 .contents3 .txt_box p {
  padding: 0 0 10px 50px;
}
main .wrap6 {
  width: 1200px;
  margin: 200px auto 650px;
  text-align: center;
  position: relative;
}
main .wrap6 h1 {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  text-transform: capitalize;
}
main .wrap6 .img_view {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  cursor: pointer;
}
main .wrap6 .img_view .contents {
  display: inline-block;
  width: 900px;
  height: 90vh;
  margin: 50px auto;
  overflow-y: scroll;
  background: lightgoldenrodyellow;
}
main .wrap6 .img_view .contents img {
  width: 100%;
}
main .wrap6 > #imgs {
  position: absolute;
  left: 0;
  top: 345px;
  width: 350%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 25%;
}
main .wrap6 > #imgs > div {
  max-width: 9%;
  perspective: 500px;
  z-index: 1;
}
main .wrap6 > #imgs > div a img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer .footer_top {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
}
footer .footer_top h2 {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}
footer .footer_top p {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
footer .footer_top .code {
  width: 110px;
  display: inline-block;
  padding: 50px 0 20px;
}
footer .footer_top .code img {
  width: 100%;
}
footer .line span {
  border: 1px solid #26150b;
  width: 100%;
  height: 1px;
  content: "";
  display: inline-block;
}
footer .line .btm_line {
  margin: 5px 0 30px;
}/*# sourceMappingURL=main.css.map */